.handStyles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardStyles {
  border: 1px solid black;
  width: 70px;
  height: 95px;
  margin: 5px;
  padding: 1px;
  text-align: center;
  box-shadow: rgb(0,0,0);
  background-color: lavenderblush;
}
